{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Project</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="edit-form-body">
<div class="form-container edit-form-container">
    <h2>Edit Project</h2>
    <div class="close-button">
        <a href="{% url 'profile-details' pk=user_pk %}">&times;</a>
    </div>

    <form method="post" enctype="multipart/form-data" class="form" id="edit-project-form" novalidate>
        {% csrf_token %}

        <div class="edit-form-content">
            <div class="form-left">
                {% for field in form %}
                    <div class="form-group mb-3">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    
                        {% if field.name == 'cover_image' %}
                            <a href="{{ field.value.url }}">
                                {{ field.value.url|slice:":20" }}
                                {% if field.value.url|length > 20 %}...{% endif %}
                            </a>
                            <input type="file" name="cover_image" class="change-image">
                        {% else %}
                            {{ field }}
                        {% endif %}
                        
                        {% if field.errors %}
                            <div class="error-message">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <button type="submit" class="btn-submit btn btn-primary" id="submit-btn">Update Project</button>
    </form>
</div>
<script>
    const form = document.getElementById('edit-project-form');
    const submitButton = document.getElementById('submit-btn');

    form.addEventListener('submit', function () {
        submitButton.disabled = true;
        submitButton.innerText = 'Updating the project...';
    });
</script>
</body>
</html>
