{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="project-details-container">
        <div class="project-info-container">
            <div class="project-info">
                <h2>{{ project.title }}</h2>
                <p>
                    <strong>Published by:</strong>
                    <a href="{% url 'profile-details' project.creator.id %}">
                        {{ project.creator.profile.display_name }}
                    </a>
                </p>
                <p><strong>Type:</strong> {{ project.get_project_type_display }}</p>
                <p><strong>Year:</strong> {{ project.year }}</p>
                <p><strong>Location:</strong> {{ project.location }}</p>
                <p><strong>Description:</strong></p>
                <p class="indented-description">{{ project.description }}</p>
            </div>
        </div>

        <div class="images-container">
            <div class="project-cover-image">
                <img src="{{ project.cover_image.url }}" alt="Cover Image for {{ project.title }}">
            </div>

            {% if project.images.all %}
                <div class="gallery-container">
                    {% for image in project.images.all %}
                        <div class="project-image">
                            <img src="{{ image.image.url }}" alt="Gallery Image for {{ project.title }}">
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if is_creator %}
        <div class="buttons edit-delete-buttons">
            <div class="edit-button">
                <a class="edit-icon" href="{% url 'projects:project-edit' slug=project.slug %}">
                    <i class="fa-solid fa-edit"></i>
                </a>
            </div>
            <div class="delete-button">
                <a class="project-delete-icon" href="{% url 'projects:project-delete' slug=project.slug %}">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
        </div>
    {% else %}
        <div class="buttons project-details-buttons">
            <div class="save-project">
                <a href="#"><i class="fa-regular fa-folder"></i>Save project</a>
            </div>
            <div class="share-button">
                <a href="#"><i class="fa-solid fa-share"></i></a>
            </div>
            <div class="like-button">
                <a href="javascript:void(0);" class="like-toggle" data-id="{{ project.id }}">
                    {% if request.user in project.likes.all %}
                        <i class="fa-solid fa-thumbs-up liked"></i>
                    {% else %}
                        <i class="fa-solid fa-thumbs-up"></i>
                    {% endif %}
                </a>
                <span class="like-count">{{ project.likes.count }} likes</span>
            </div>
        </div>
    {% endif %}
    <footer>
        <p>&copy; 2024 DesignSpace. All rights reserved.</p>
    </footer>
    {% block extra_js %}
        <script src="{% static 'scripts/like.js' %}"></script>
    {% endblock %}
{% endblock %}
