{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="form-body">
<div class="form-container">
    <div class="close-button">
        <a href="{% url 'home' %}">&times;</a>
    </div>
    <h2>Upload Images for Project: {{ project.title }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ image_form.as_p }}
        <div id="dropzone" class="dropzone">
            <!-- Dropzone will appear here -->
        </div>
        <button type="submit">Upload</button>
        <a href="{% url 'projects:create-project' %}">
            <button type="button">Skip</button>
        </a>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/dropzone@5/dist/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("#dropzone", {
            url: "{% url 'projects:upload-images' project_slug=project.slug %}",
            maxFiles: 5,
            acceptedFiles: 'image/*',
            autoProcessQueue: false
        });
    </script>
</div>
</body>
</html>