{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="form-body">
    <div class="form-container">
        <div class="close-button">
            <a href="{% url 'home' %}">&times;</a>
        </div>
        <form method="post" class="form">
            {% csrf_token %}
            <h2>{{ title }}</h2>
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-message">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn-submit">Log in</button>
            <p>Not registered yet? <a href="{% url 'register' %}">Sign up</a></p>
        </form>
    </div>
</body>
</html>