{% extends 'common/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <div class="profile-page-container">
        <div class="profile-container">
            <div class="profile-circle-container">
                <div class="profile-circle">
                {% if is_own_profile %}
                    {% if profile.profile_picture %}
                        <a href="{% url 'profile-edit' pk=profile.user.pk %}">
                            <img src="{{ profile.profile_picture.url }}" alt="{{ profile.display_name }}" class="profile-img">
                        </a>
                    {% else %}
                        <a href="{% url 'profile-edit' pk=profile.user.pk %}">
                            {{ profile.first_name|default:"Anonymous"|slice:":1"|upper }}
                        </a>
                    {% endif %}
                {% else %}
                    {% if profile.profile_picture %}
                        <a href="#">
                            <img src="{{ profile.profile_picture.url }}" alt="{{ profile.display_name }}" class="profile-img">
                        </a>
                    {% else %}
                        <a href="#">
                            {{ profile.first_name|default:"Anonymous"|slice:":1"|upper }}
                        </a>
                    {% endif %}
                {% endif %}
                </div>
                <p><b>{{ profile.display_name }}</b></p>
                <p><b>{{ profile.user.email }}</b></p>
            </div>
        
            {% if is_own_profile %}
                <div class="profile-links-container">
                    <a href="{% url 'projects:create-project' %}" class="profile-link">Create a Project</a>
                    <a href="#" class="profile-link">My Articles</a>
                    <a href="#" class="profile-link">My Folders</a>
                </div>
                <a class="delete-icon" href="{% url 'profile-delete' pk=profile.user.pk %}">
                    <i class="fa-solid fa-trash"></i>
                </a>
            {% else %}
                <div class="profile-links-container">
                    <a href="#" class="profile-link">Articles</a>
                </div>
            {% endif %}
        </div>

        <div class="projects-container">
            {% for project in projects %}
                <div class="profile-project">
                    <a href="{% url 'projects:project-details' slug=project.slug %}">
                        <img src="{{ project.cover_image.url }}" alt="{{ project.title }}">
                        <h4>{{ project.title }}</h4>
                    </a>
                </div>
            {% endfor %}

            {% for _ in empty_slots|range_filter %}
                <div class="profile-project empty">
                    {% if is_own_profile %}
                        {% if forloop.first %}
                        <a href="{% url 'projects:create-project' %}" class="add-project-link">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="pagination-container">
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page=1">&laquo; First</a></li>
                    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for num in paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li class="active"><span>{{ num }}</span></li>
                    {% else %}
                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li><a href="?page={{ paginator.num_pages }}">Last &raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
