{% extends 'common/base.html' %}
{% load static %}

{% block content %}
    <div class="profile-page-container">
        <div class="profile-container">
            <div class="profile-circle-container">
                <a class="profile-circle"
                   href="#">{{ user.profile.first_name|default:"Anonymous"|slice:":1"|upper }}</a>
                <p><i>{{ user.profile.display_name }}</i></p>
            </div>
            <div class="profile-links-container">
                <a href="{% url 'projects:create-project' %}" class="profile-link">Create a Project</a>
                <a href="#" class="profile-link">My Articles</a>
                <a href="#" class="profile-link">My Folders</a>
                <a href="#" class="profile-link">Settings</a>
            </div>
        </div>
        <div class="projects-container">
            {% for project in projects %}
                <div class="profile-project">
                    <a href="#">
                        <img src="{{ project.cover_image.url }}" alt="{{ project.title }}">
                        <h4>{{ project.title }}</h4>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'scripts/masonryPattern.js' %}"></script>
{% endblock %}