{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>



    </style>
</head>
<body class="form-body">
<div class="form-container">

    <div class="close-button">
        <a href="{% url 'profile-details' pk=profile.user.pk %}">&times;</a>
    </div>

    <form method="post" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        <h2>Edit Profile</h2>

        <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <div class="error-message">
                    {% for error in form.first_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
                <div class="error-message">
                    {% for error in form.last_name.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.profile_picture.id_for_label }}">Profile Picture</label>

            {% if form.profile_picture.value %}
                <div>
                    <a href="{{ form.profile_picture.value.url }}">
                        {{ form.profile_picture.value.url|slice:":20" }}
                                {% if form.profile_picture.value.url|length > 20 %}...{% endif %}
                    </a>
                </div>

                <div class="checkbox-group">
                    <label for="profile_picture-clear_id">Clear Profile Picture</label>
                    <input type="checkbox" name="profile_picture-clear" id="profile_picture-clear_id">
                </div>
            {% endif %}

            <input type="file" name="profile_picture" class="change-image">

            {% if form.profile_picture.errors %}
                <div class="error-message">
                    {% for error in form.profile_picture.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn-submit">Save Changes</button>
    </form>

</div>
</body>
</html>
