{% extends 'common/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <div class="profile-page-container">
        
        {% include 'accounts/profile-info.html' %}

        <div class="articles-container">
            {% for article in articles %}
                <div class="profile-article">
                    <h4>{{ article.title }}</h4>
                    <p>{{ article.content|slice:":90" }}{% if article.content|length > 90 %}...{% endif %}</p>
                    <a href="{% url 'articles:article-details' pk=article.pk %}" class="more-info">More info &raquo;</a>
                </div>
            {% endfor %}

            {% for _ in empty_slots|range_filter %}
                <div class="profile-empty">
                    {% if is_own_profile %}
                        {% if forloop.first %}
                        <a href="{% url 'articles:create-article' %}" class="add-link">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="pagination-container">
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page=1">1</a></li>
                    <li><a href="?page={{ page_obj.previous_page_number }}"><-</a></li>
                {% endif %}

                <li class="active"><span>{{ page_obj.number }}</span></li>

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">-></a></li>
                    <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
