{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="form-body">
    <div class="form-container">
    
        <div class="close-button">
            <a href="{% url 'home' %}">&times;</a>
        </div>
    
        <form method="post" class="form" id="signup-form">
            {% csrf_token %}
            <h2>Welcome to DesignSpace!</h2>
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-message">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn-submit" id="submit-btn">Sign up</button>
            <p>Already have an account? <a href="{% url 'log-in' %}">Log in</a></p>
        </form>
    
    </div>
    <script>
        const form = document.getElementById('signup-form');
        const submitButton = document.getElementById('submit-btn');
        
        form.addEventListener('submit', function() {
            submitButton.disabled = true;
            submitButton.innerText = 'Signing...';
        });
    </script>
</body>
</html>
