.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px 0 0;
    z-index: 3;
}

.buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #13AFF0;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.project-details-buttons,
.edit-delete-buttons {
    padding-bottom: 2rem;
    margin-bottom: 4rem;
}

.edit-delete-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.edit-delete-buttons .delete-button {
    background-color: #8994A3;
}

.edit-delete-buttons .delete-button:hover {
    background-color: #ff4d4d;
}

.buttons div:hover {
    background-color: #0a6287;
}

.buttons div a i {
    font-size: 20px;
    color: #ECEFF5;
}

.buttons div a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.buttons div:hover a {
    color: #ffffff;
}

.buttons .save-project,
.buttons .like-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 16px;
    color: #ECEFF5;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: auto;
    gap: 10px;
}

.buttons .save-project a i {
    margin-right: 8px;
}

.buttons .more-info {
    margin-left: auto;
    background-color: transparent;
    color: #8994A3;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}

.buttons .more-info:hover {
    color: #1E1E1E;
}

.articles .more-info {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    color: #13AFF0;
    text-decoration: none;
    border: 1px solid #13AFF0;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.articles .more-info:hover {
    background-color: #13AFF0;
    color: white;
}

.profile-circle {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #13AFF0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border 0.3s ease-in-out;
    overflow: hidden;
    padding: 0;
    border: 0.15rem solid #8994A3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-circle a {
    color: #ECEFF5;
    font-size: 1.4rem;
    text-decoration: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-circle:hover {
    background-color: #0a6287;
    border: 0.15rem solid #ECEFF5;
}

.btn-submit,
.btn-delete {
    width: 100%;
    padding: 0.75rem 1.2rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #13AFF0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover,
.btn-delete:hover {
    background-color: #0a6287;
}

.close-button,
.profile-folder .edit-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8994A3;
    color: #ECEFF5;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.profile-folder .edit-button {
    top: 3.8rem;
    right: 1rem;
}

.folder .close-button,
.profile-folder .close-button,
.profile-folder .edit-button {
    opacity: 0;
    transition: background-color 0.3s, opacity 0.3s ease-in-out;
}

.folder:hover .close-button,
.profile-folder:hover .close-button,
.profile-folder:hover .edit-button {
    opacity: 1;
}


.close-button a {
    text-decoration: none;
    color: #ECEFF5;
    padding: 1rem;
}

.close-button:hover {
    background-color: #ff4d4d;
}

.edit-button:hover {
    background-color: #0a6287;
}

.delete-icon {
    position: absolute;
    bottom: 1.5rem;
    padding: 0.5rem;
    background-color: #ECEFF5;
    border-radius: 50%;
    z-index: 10;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8994A3;
    font-size: 1.2rem;
    text-decoration: none;
}

.delete-icon:hover {
    background-color: #ff4d4d;
}

.delete-icon:hover .fa-trash {
    color: #ECEFF5;
}

.project-delete-icon {
    color: #8994A3;
}

.like-toggle i.liked {
    color: #ECEFF5;
}

.like-count span {
    color: #0a6287;
}

.add-project-to-folder button {
    margin-top: 2rem;
}