header {
    height: auto;
    width: 100%;
    background-color: #1E1E1E;
    color: #ECEFF5;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.title {
    padding: 1.4rem 0;
}

.logo:hover {
    text-decoration: none;
}

h1 {
    font-size: 4.1rem;
}

h1:hover {
    cursor: pointer;
}

.design {
    color: #ECEFF5;
}

.space {
    color: #8994A3;
}