body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #ECEFF5;
}

.layout-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 1.25rem;
    width: 70%;
}

main {
    flex: 3;
    width: 60%;
}

aside {
    flex: 2;
    width: 40%;
}