body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #ECEFF5;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 0;
    gap: 1.25rem;
    width: 70%;
}