main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 25px 0;
    gap: 20px;
    width: 70%;
}

.projects,
.jobs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    flex: 0 0 60%;
    gap: 18px;
}

.jobs {
    flex: 0 0 40%;
    gap: 15px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    min-height: 300px;
    overflow: hidden;
}

.cover-image {
    flex: 0 0 65%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-image img {
    width: 100%;
    object-fit: contain;
    border-radius: 4px;
}

.small-images {
    flex: 0 0 35%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: stretch;
}

.small-image img {
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.job {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    padding: 10px;
    text-align: center;
    height: 250px;
    box-sizing: border-box;
    overflow: hidden;
}