.search-container {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.search-icon {
    background: none;
    color: #8994A3;
    border-right: 2px solid #8994A3;
    font-size: 1.1rem;
    cursor: pointer;
}

.search-icon i {
    transition: color 0.3s ease-in-out;
}

.search-icon:hover i {
    color: #ECEFF5;
}

.search-input {
    width: 0;
    padding: 0.3rem 0.3rem;
    margin: 0 0.3rem;
    font-size: 1rem;
    border: 1px solid #8994A3;
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ECEFF5;
    color: #1E1E1E;
    z-index: 1;
}

.search-input::placeholder {
    font-family: FontAwesome, Arial, sans-serif;
    font-size: 1rem;
    color: #8994A3;
    content: "\f002";
    transition: color 0.3s ease-in-out;
}

.search-input:focus::placeholder {
    color: #8994A3;
}

.search-container.active .search-input {
    width: 18.75rem;
    opacity: 1;
    visibility: visible;
}

.search-input:focus {
    outline: none;
}

.search-results {
    display: none; /* Hide by default */
    position: absolute;
    top: 100%;
    right: 0;
    background: #ECEFF5;
    color: #1E1E1E;
    border: 1px solid #8994A3;
    border-radius: 5px;
    z-index: 2;
    max-height: 200px;
    overflow-y: auto;
    width: 18.75rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container.active .search-results {
    display: block; /* Show when the search bar is active */
}

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background 0.3s ease;
}

.result-item:hover {
    background: #ddd;
}

.no-results {
    padding: 10px;
    color: #8994A3;
    text-align: center;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}