{% extends 'common/base.html' %}
{% load static %}

{% block content %}
  <div class="form-group add-project-to-folder">
    <h2>Add Project to Folder</h2>
    <p>Project: {{ project.title }}</p>

    <form method="post" class="form">
      {% csrf_token %}
        
      <div>
        <label for="id_folder">Select an existing folder:</label>
        {{ form.folder }}
      </div>
        
      <div>
        <label for="id_new_folder_title">Or create a new folder:</label>
        {{ form.new_folder_title }}
      </div>

      <button type="submit" class="btn-submit btn btn-primary">Add to Folder</button>
    </form>
  </div>
{% endblock %}
