{% extends 'common/base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <div class="profile-page-container">

        {% include 'accounts/profile-info.html' %}

        <div class="projects-container">
            {% for project in projects %}
                <div class="folder profile-project">
                    {% if is_own_profile %}
                        <div class="close-button">
                            <a href="{% url 'remove-project-from-folder' pk=folder.pk project_id=project.id %}">&times;</a>
                        </div>
                    {% endif %}
                    <a href="{% url 'projects:project-details' slug=project.slug %}">
                        <img src="{{ project.cover_image.url }}" alt="{{ project.title }}">
                        <h4>{{ project.title }}</h4>

                    </a>
                </div>
            {% endfor %}

            {% for _ in empty_slots|range_filter %}
                <div class="profile-empty"></div>
            {% endfor %}
        </div>
    </div>

    <div class="pagination-container">
        {% if is_paginated %}
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li><a href="?page=1">1</a></li>
                    <li><a href="?page={{ page_obj.previous_page_number }}"><-</a></li>
                {% endif %}

                <li class="active"><span>{{ page_obj.number }}</span></li>

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">-></a></li>
                    <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
