{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>DesignSpace</title>
</head>
<body>

    <header>
        <div class="title">
            <a href="{% url 'home' %}" class="logo">
                <h1><span class="design">Design</span><span class="space">Space</span></h1>
            </a>
        </div>
    </header>
    
    {% include 'common/navbar.html' %}
    
    {% block content %}
    {% endblock %}
    
    <footer>
        <p>&copy; 2024 DesignSpace. All rights reserved.</p>
    </footer>
</body>
</html>