<nav>
    <div class="search-container">
        <a class="search-icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        <input
                type="text"
                class="search-input"
                placeholder=""
        >
    </div>
    <div class="main-nav">
        <a href="{% url 'home' %}">Home</a>
        {% if request.path == '/accounts/profile/'|add:user.pk|add:'/' %}
            <a href="{% url 'projects:create-project' %}">Publish</a>
        {% endif %}
        <a href="#">News</a>
        <a href="{% url 'about' %}">About</a>
    </div>
    {% if user.is_authenticated %}
        <a class="button logout" href="{% url 'log-out' %}"
           onclick="event.preventDefault(); document.getElementById('log-out-form').submit()">Log out</a>
        
        {% if request.path == '/accounts/profile/'|add:user.pk|add:'/' %}
            <div class="profile-circle">
                {% if user.profile.profile_picture %}
                    <a href="{% url 'profile-details' pk=request.user.pk %}">
                        <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.profile.display_name }}" class="profile-img">
                    </a>
                {% else %}
                    <a href="{% url 'profile-details' pk=request.user.pk %}">
                        {{ user.profile.first_name|default:"Anonymous"|slice:":1"|upper }}
                    </a>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        <a class="button login" href="{% url 'log-in' %}">Log in</a>
        <a class="button register" href="{% url 'register' %}">Sign up</a>
    {% endif %}
</nav>

<form id="log-out-form" method="post" action="{% url 'log-out' %}" style="display: none">
    {% csrf_token %}
</form>