{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>DesignSpace</title>
</head>
<body>
    
    <header>
        <div class="title">
            <h1><span class="design">Design</span><span class="space">Space</span></h1>
        </div>
        <div class="menu">
            <nav>
                <div class="search-container">
                    <a class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                    <input 
                        type="text" 
                        class="search-input" 
                        placeholder=""
                    >
                </div>
                <a href="{% url 'home' %}">Home</a>
                <a href="#">Artists</a>
                <a href="#">Jobs</a>
                <a href="#">About</a>
                <a class="button login" href="#">Log in</a>
                <a class="button register" href="#">Sign in</a>
            </nav>
        </div>
    
    </header>
    
    <main>
        <div class="projects">
            <div class="project">
                <div class="large-image">
                    <img src="{% static 'images/picture_1.jpg' %}" alt="">
                </div>
                <div class="small-images">
                    <div class="small-image">
                        <img src="{% static 'images/picture_2.jpg' %}" alt="">
                    </div>
                    <div class="small-image">
                        <img src="{% static 'images/picture_3.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="project">Project 2</div>
            <div class="project">Project 3</div>
        </div>
        <div class="jobs">
            <div class="job">Job 1</div>
            <div class="job">Job 2</div>
            <div class="job">Job 3</div>
            <div class="job">Job 4</div>
            <div class="job">Job 5</div>
        </div>
    </main>
    
    <footer>
    
    </footer>
    <script src="{% static 'scripts/searchBar.js' %}"></script>

</body>
</html>